.any-system{
    display: flex;
    margin-top: 1000px;
}

.steam{
    font-size: 40px;
}

.xbox{
    font-size: 40px;
}

.ps{
    font-size: 40px;
}

.switch-logo{
    background-image: url('../images/switch.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}