.choice-button:hover{
    background-color: rgba(197, 197, 197, 0.335);
    border-color: black;
    border: solid 1px black;
    color: black;
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.choice-button{
    align-self: center;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(142, 170, 231);
    border-radius: 3px;
    box-shadow: 4px 2px 4px 0px rgba(197, 197, 197, 0.527);
    border: none;
    color: white;
    color: white;
    font-size: 15px;
    /* width: 100px;
    height: 30px; */
    width: 90px;
    padding: 5px 2px 5px 2px;
    transition: all;
    transition-duration: 0.5s;
}
