.carousel-wrapper{
    display: flex;
    justify-content: center;
}

.carousel-container{
    padding-top: 20px;
    min-width: 80%;
    height: 355px;
    overflow: hidden;
}

.div-image1{
    background-image: url('../images/desk-stuff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.next-button{
    position: relative;
    bottom: 15%;
    left: 75%;
    font-size: 30px;
    color: gray;
    transition: all;
    transition-duration: 0.5s;
}

.next-button:hover{
    cursor: pointer;
    color: white;
    transition: all;
    transition-duration: 0.5s;

}

.prev-button{
    position: relative;
    bottom: 15%;
    left: 15%;
    transform: rotate(180deg);
    font-size: 30px;
    color: gray;
    transition: all;
    transition-duration: 0.5s;
}

.prev-button:hover{
    cursor: pointer;
    color: white;
    transition: all;
    transition-duration: 0.5s;
}

.next-button-hidden{
    position: relative;
    bottom: 15%;
    font-size: 30px;
    left: 110%;
    transition: all;
    transition-duration: 0.5s;
}

.prev-button-hidden{
    position: relative;
    bottom: 15%;
    transform: rotate(180deg);
    font-size: 30px;
    color: gray;
    left: -25%;
    transition: all;
    transition-duration: 0.5s;
}