
.drop-down-icon{
    font-size: 25px;
    color: rgb(114, 138, 189);
    margin-right: 15px;
}

.drop-down-icon:hover{
    cursor: pointer;
}

.drop-down-menu-container{
    position: relative;
    z-index: 100;
    right: -3.5%;
    top: 260%;
    height: 0px;
    width: 220px;
    background-color: rgba(125, 158, 230, 0.733);
    border-radius: 3px;
    transition: height;
    transition-duration: 0.7s;
};

.drop-down-buttons{
    color: white;
    display: flex;
    text-decoration: none;
}
