
.drop-down-icon{
    font-size: 25px;
    color: rgb(114, 138, 189);
    margin-right: 15px;
}

.drop-down-icon:hover{
    cursor: pointer;
}

.drop-down-menu-container{
    position: absolute;
    right: 0.01%;
    top: 105%;
    height: 0px;
    width: 200px;
    background-color: rgba(142, 170, 231, 0.5);
    border: none;
    border-radius: 3px;
    overflow-y: hidden;
    transition: height;
    transition-duration: 1s;
};
