
.drop-down-icon{
    font-size: 25px;
    color: rgb(114, 138, 189);
    margin-right: 15px;
}

.drop-down-icon:hover{
    cursor: pointer;
}

.drop-down-menu-container{
    position: relative;
    z-index: 100;
    left: 30px;
    top: -260%;
    height: 400px;
    width: 220px;
    background-color: rgb(154, 179, 231);
    border-radius: 3px;
    transition: top;
    transition-duration: 0.5s;
};

.drop-down-buttons{
    color: #F8F8F8;
    display: flex;
    text-decoration: none;
}

.bell-icon-badge {
    position: relative;
    top: 12px;
    right: 25%;
    height: 28px;
    width: 28px;
    background-color: #b95f65;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}