.login-container{
    position: relative;
    bottom: -30%;
    left: -80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 500px;
    justify-content: center;
    box-shadow: 4px 3px 3px 1px rgba(148, 148, 148, 0.308);
    border-radius: 4px;
    z-index: 20;
    transition: all;
    transition-duration: 0.5s;
}

.logo-div{
    box-shadow: 3px 3px 3px 1px rgba(148, 148, 148, 0.308);
    background-image: url('../images/logo.png');
    background-position: center;
    height: 58px;
    width: 60px;
    margin-left: 20px;
    border-radius: 4px;
    background-size: 65px;
    margin-bottom: auto;
    margin-top: 20px;
}

.input-field{
    border: solid 2px black;
    border-radius: 3px;
    padding: 5px;
    height: 20px;
    width: 200px;
}

.input-labels{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.form-headers{
    color: red;
}

.login-button{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(36, 62, 212, 0.582);
    border-radius: 3px;
    box-shadow: 4px 2px 4px 0px rgba(197, 197, 197, 0.527);
    border: none;
    color: white;
    color: white;
    font-size: 15px;
    width: 70px;
    height: 30px;
    transition: all;
    transition-duration: 0.5s;
}

.login-button:hover{
    background-color: rgba(197, 197, 197, 0.335);
    border-color: black;
    border: solid 1px black;
    color: black;
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.quote-section{
    padding: 10px;
    text-align: center;
}