.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(146, 146, 146, 0.308);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.modal-point {
    position: relative;
    height: 1px;
    width: 1px;
}

.modal-container {
    position: relative;
    bottom: -30%;
    left: -80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    box-shadow: 4px 3px 3px 1px rgba(148, 148, 148, 0.308);
    border-radius: 4px;
    z-index: 20;
    transition: all;
    transition-duration: 0.5s;
}

.modal-container-top {
    position: relative;
    z-index: 100;
    left: -280px;
    top: -460px;
    min-height: 100px;
    max-height: 400px;
    width: 220px;
    background-color: rgb(154, 179, 231);
    border-radius: 3px;
    overflow-y: auto;
    transition: top;
    transition-duration: 0.5s;
}

.modal-header {
    background-color: rgb(142, 170, 231);
}