.plan-events-container{
    padding: 20px;
    background-color: rgb(142, 170, 231);
    border-radius: 4px;
    box-shadow: 4px 3px 3px 1px rgba(148, 148, 148, 0.308);
    min-width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
}

.plan-events-container:hover{
    cursor: pointer;
}

.plan-events-header{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.event-icon{
    font-size: 70px;
     color: white;
}
