.any-system{
    display: flex;
    padding: 25px;
    margin-top: 60px;
    background-color: rgba(195, 211, 245, 0.664);
}

.demo-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 50%;
    margin-right: 2%;
}

.demo-header{
    font-weight: 500;
}


.demo-button{
    background-color: rgb(142, 170, 231);
    border-radius: 3px;
    box-shadow: 4px 2px 4px 0px rgba(197, 197, 197, 0.671);
    border: none;
    color: white;
    font-size: 25px;
    width: 100px;
    height: 50px;
    transition: all;
    transition-duration: 0.5s;
}

.demo-button:hover{
    width: 140px;
    height: 65px;
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.game-dude-background{
    position: relative;
    background-image: url('../images/game-dude.png');
    background-position: center;
    background-size: cover;
    width: 65%;
    max-width: 570px;
    height: 55%;
    border-radius: 4px;
    box-shadow: 4px 2px 4px 0px rgba(197, 197, 197, 0.671);
    z-index: 1;
}

/* smaller screens  */
@media only screen and (max-width: 999px)  {
    .game-dude-background {
        display: none;
    }

    .demo-box {
        justify-content: space-evenly;
        margin: 0%;
    }
}

/* mobile screens  */

@media only screen and (max-width: 750px) {
    .any-system {
        display: flex;
        flex-direction: column;
    }

    .demo-box {
        margin: 0%;
        width: 100%;
    }
}