.sign-up-container{
    position: relative;
    bottom: -30%;
    left: -80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 65%;
    max-width: 550px;
    justify-content: center;
    box-shadow: 4px 3px 3px 1px rgba(148, 148, 148, 0.308);
    border-radius: 4px;
    z-index: 20;
    transition: all;
    transition-duration: 0.5s;
}

.logo-div{
    box-shadow: 3px 3px 3px 1px rgba(148, 148, 148, 0.308);
    background-image: url('../images/logo.png');
    background-position: center;
    height: 58px;
    width: 60px;
    margin-left: 20px;
    border-radius: 4px;
    background-size: 65px;
}

.form-headers{
    color: red;
}

.sign-up-button{
    align-self: center;
    margin-top: 20px;
    background-color: rgb(142, 170, 231);
    border-radius: 3px;
    box-shadow: 4px 2px 4px 0px rgba(197, 197, 197, 0.527);
    border: none;
    color: white;
    font-size: 15px;
    width: 70px;
    height: 30px;
    transition: all;
    transition-duration: 0.5s;
}

.sign-up-button:hover{
    background-color: rgba(0, 0, 0, 0.198);
    border-color: black;
    color: black;
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

@media only screen and (max-width: 599px) {
    .sign-up-container {
        width: 100%;
    }
}