.spin {
    position: absolute;
    left: calc(50% - 20px);
    top: 25%;
    z-index: 30;
    border: 16px solid rgb(85, 114, 180);
    border-radius: 50%;
    border-top: 16px solid rgb(116, 146, 211);
    border-right: 16px solid rgb(142, 170, 231);
    border-bottom: 16px solid rgb(157, 183, 240);
    border-left: 16px solid rgb(167, 193, 248);
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {

    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}