/* ===WIDTH SIZE=== */

.w-10 {
    width: 10px;
}

.w-20 {
    width: 20px;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px;
}

.w-80 {
    width: 80px;
}

.w-90 {
    width: 90px;
}

.w-100 {
    width: 100px;
}

.w-110 {
    width: 110px;
}

.w-120 {
    width: 120px;
}

.w-130 {
    width: 130px;
}

.w-140 {
    width: 140px;
}

.w-150 {
    width: 150px;
}

.w-160 {
    width: 160px;
}

.w-170 {
    width: 170px;
}

.w-180 {
    width: 180px;
}

.w-190 {
    width: 130px;
}

.w-200 {
    width: 200px;
}

/* ===MAX WIDTH SIZE=== */

.maxw-10 {
    max-width: 10px;
}

.maxw-20 {
    max-width: 20px;
}

.maxw-30 {
    max-width: 30px;
}

.maxw-40 {
    max-width: 40px;
}

.maxw-50 {
    max-width: 50px;
}

.maxw-60 {
    max-width: 60px;
}

.maxw-70 {
    max-width: 70px;
}

.maxw-80 {
    max-width: 80px;
}

.maxw-90 {
    max-width: 90px;
}

.maxw-100 {
    max-width: 100px;
}

.maxw-110 {
    max-width: 110px;
}

.maxw-120 {
    max-width: 120px;
}

.maxw-130 {
    max-width: 130px;
}

.maxw-140 {
    max-width: 140px;
}

.maxw-150 {
    max-width: 150px;
}

.maxw-160 {
    max-width: 160px;
}

.maxw-170 {
    max-width: 170px;
}

.maxw-180 {
    max-width: 180px;
}

.maxw-190 {
    max-width: 190px;
}

.maxw-200 {
    max-width: 200px;
}

/* ===MIN WIDTH SIZE=== */

.minw-10 {
    min-width: 10px;
}

.minw-20 {
    min-width: 20px;
}

.minw-30 {
    min-width: 30px;
}

.minw-40 {
    min-width: 40px;
}

.minw-50 {
    min-width: 50px;
}

.minw-60 {
    min-width: 60px;
}

.minw-70 {
    min-width: 70px;
}

.minw-80 {
    min-width: 80px;
}

.minw-90 {
    min-width: 90px;
}

.minw-100 {
    min-width: 100px;
}

.minw-110 {
    min-width: 110px;
}

.minw-120 {
    min-width: 120px;
}

.minw-130 {
    min-width: 130px;
}

.minw-140 {
    min-width: 140px;
}

.minw-150 {
    min-width: 150px;
}

.minw-160 {
    min-width: 160px;
}

.minw-170 {
    min-width: 170px;
}

.minw-180 {
    min-width: 180px;
}

.minw-190 {
    min-width: 130px;
}

.minw-200 {
    min-width: 200px;
}

/* ===WIDTH SIZE PERCENT=== */

.w-per-10 {
    width: 10%;
}

.w-per-20 {
    width: 20%;
}

.w-per-30 {
    width: 30%;
}

.w-per-40 {
    width: 40%;
}

.w-per-50 {
    width: 50%;
}

.w-per-60 {
    width: 60%;
}

.w-per-70 {
    width: 70%;
}

.w-per-80 {
    width: 80%;
}

.w-per-90 {
    width: 90%;
}

.w-per-100 {
    width: 100%;
}

