/* TODO Add site wide styles */
@import url('./styles/login.css');
@import url('./styles/navigation.css');
@import url('./styles/drop-down.css');
@import url('./styles/modal.css');
@import url('./styles/carousel.css');
@import url('./styles/plan-events.css');
@import url('./styles/connect.css');
@import url('./styles/landing.css');
@import url('./styles/win.css');
@import url('./styles/sign-up.css');
@import url('./styles/404.css');
@import url('./styles/sign-up-demo.css');
@import url('./styles/Details.css');
@import url('./styles/footer.css');
@import url('./styles/welcome.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#root{
    position: relative;
    left: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(248, 248, 248);
}

a{
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
